In [13]:
import pandas as pd
from utils import *
from mappings import *

In [14]:
df = read_dbf('../data/raw/exped.DBF')

In [15]:
df.head()

,expid,peakid,year,season,host,route1,route2,route3,route4,nation,...,accidents,achievment,agency,comrte,stdrte,primrte,primmem,primref,primid,chksum
0,ANN260101,ANN2,1960,1,1,NW Ridge-W Ridge,None,None,None,UK,...,None,None,None,None,None,False,False,None,None,2442047
1,ANN269301,ANN2,1969,3,1,NW Ridge-W Ridge,None,None,None,Yugoslavia,...,Draslar frostbitten hands and feet,None,None,None,None,False,False,None,None,2445501
2,ANN273101,ANN2,1973,1,1,W Ridge-N Face,None,None,None,Japan,...,None,None,None,None,None,False,False,None,None,2446797
3,ANN278301,ANN2,1978,3,1,N Face-W Ridge,None,None,None,UK,...,None,None,None,None,None,False,False,None,None,2448822
4,ANN279301,ANN2,1979,3,1,N Face-W Ridge,NW Ridge of A-IV,None,None,UK,...,None,None,None,None,None,False,False,None,None,2449204

In [16]:
df.columns

Index(['expid', 'peakid', 'year', 'season', 'host', 'route1', 'route2',
       'route3', 'route4', 'nation', 'leaders', 'sponsor', 'success1',
       'success2', 'success3', 'success4', 'ascent1', 'ascent2', 'ascent3',
       'ascent4', 'claimed', 'disputed', 'countries', 'approach', 'bcdate',
       'smtdate', 'smttime', 'smtdays', 'totdays', 'termdate', 'termreason',
       'termnote', 'highpoint', 'traverse', 'ski', 'parapente', 'camps',
       'rope', 'totmembers', 'smtmembers', 'mdeaths', 'tothired', 'smthired',
       'hdeaths', 'nohired', 'o2used', 'o2none', 'o2climb', 'o2descent',
       'o2sleep', 'o2medical', 'o2taken', 'o2unkwn', 'othersmts', 'campsites',
       'routememo', 'accidents', 'achievment', 'agency', 'comrte', 'stdrte',
       'primrte', 'primmem', 'primref', 'primid', 'chksum'],
      dtype='object')

In [17]:
# merge expedid and year to form true primary key
df.expid = df.expid.str.cat(df.year, sep='_')

In [18]:
# assert primary key requirements
assert df.expid.isna().sum() == 0
assert df.expid.nunique() == df.shape[0]

In [19]:
df.head()

,expid,peakid,year,season,host,route1,route2,route3,route4,nation,...,accidents,achievment,agency,comrte,stdrte,primrte,primmem,primref,primid,chksum
0,ANN260101_1960,ANN2,1960,1,1,NW Ridge-W Ridge,None,None,None,UK,...,None,None,None,None,None,False,False,None,None,2442047
1,ANN269301_1969,ANN2,1969,3,1,NW Ridge-W Ridge,None,None,None,Yugoslavia,...,Draslar frostbitten hands and feet,None,None,None,None,False,False,None,None,2445501
2,ANN273101_1973,ANN2,1973,1,1,W Ridge-N Face,None,None,None,Japan,...,None,None,None,None,None,False,False,None,None,2446797
3,ANN278301_1978,ANN2,1978,3,1,N Face-W Ridge,None,None,None,UK,...,None,None,None,None,None,False,False,None,None,2448822
4,ANN279301_1979,ANN2,1979,3,1,N Face-W Ridge,NW Ridge of A-IV,None,None,UK,...,None,None,None,None,None,False,False,None,None,2449204

### Expedition Nations

In [20]:
df_exped_nations = df[['expid', 'nation']]
df_exped_nations.loc[:, 'nation'] = df_exped_nations.nation.str.split('/')
df_exped_nations = df_exped_nations.explode('nation')

In [21]:
df_exped_nations = update_country_list(df_exped_nations, 'nation')

In [22]:
df_exped_nations.head()

            expid  nation_id
0  ANN260101_1960          3
1  ANN269301_1969          4
2  ANN273101_1973          5
3  ANN278301_1978          3
4  ANN279301_1979          3

In [23]:
df.drop('nation', axis=1, inplace=True)

### Expedition Hosts

In [24]:
df.host = apply_map(df.host, host_map)

In [25]:
df = update_country_list(df, 'host')