In [7]:
import pandas as pd
from utils import *
from mappings import *

In [8]:
df = read_dbf('../data/raw/members.DBF')

In [9]:
# merge expedid and year to form true primary key
df.expid = df.expid.str.cat(df.year, sep='_')

AttributeError: 'DataFrame' object has no attribute 'year'

### Climbers

In [3]:
df.isna().sum()

expid            0
membid           0
peakid           0
myear            0
mseason          0
             ...
mchksum          0
msmtnote1    72599
msmtnote2    72884
msmtnote3    72939
deathrte     72015
Length: 78, dtype: int64

In [4]:
df_climbers = df[['fname', 'lname', 'sex', 'yob', 'citizen', 'occupation']]\
	.drop_duplicates(ignore_index=True)\
	.reset_index(names='id')

In [5]:
print(df.shape)
df = df.merge(df_climbers, how='left')\
	.drop(['fname', 'lname', 'sex', 'yob', 'citizen', 'occupation'], axis=1)\
	.rename({'id': 'climber_id'}, axis=1)
print(df.shape)

(90857, 78)
(90857, 73)

In [10]:
df_climbers.citizen.unique()

array(['France', 'USA', 'W Germany', 'Nepal', 'New Zealand', 'Austria',
       'Italy', 'Australia', 'Japan', 'Spain', 'Canada', 'Switzerland',
       'Belgium', 'S Korea', 'UK', 'Denmark', 'Kenya', 'Czechoslovakia',
       'Yugoslavia', 'Greece', 'Iceland', 'Bulgaria', 'Ireland',
       'Germany', 'Sweden', 'Norway', 'Mexico', 'Poland', 'Slovenia',
       'Venezuela', 'Russia', 'Netherlands', 'Czech Republic', 'Ecuador',
       'Georgia', 'Portugal', 'China', 'Iran', 'Argentina', 'USSR',
       'Croatia', 'Ukraine', 'Kazakhstan', 'India', 'Indonesia',
       'Finland', 'Malaysia', 'UK/Hong Kong', 'Luxembourg',
       'W Germany/Iran', 'Chile', 'Spain/USA', 'Hungary', 'Brazil',
       'Taiwan', 'Hong Kong', 'N Korea', 'Israel', 'Austria/Brazil',
       'Germany/Iran', 'Slovakia', 'S Africa', 'Andorra', 'Latvia',
       'Estonia', 'Singapore', 'Turkey', 'Romania', 'UK/Italy',
       'Liechtenstein', 'Belarus', 'Lithuania', 'USA/Switzerland',
       'Thailand', 'UK/USA', 'New Zealand/Australia', 'Peru', 'Macedonia',
       'Bolivia', 'Ireland/UK', 'Mongolia', 'Canada/USA', 'USA/UK',
       'Pakistan', 'Bosnia-Herzegovina', 'Colombia', 'Costa Rica',
       'Uzbekistan', 'Nepal/India', 'Nepal/India?', 'USA/Poland',
       'Guatemala', 'Switzerland/Greece', 'Azerbaijan', 'UK/New Zealand',
       'India?', 'Kuwait', 'USA/Canada', 'Armenia', 'Macedonia/Australia',
       'San Marino', 'Serbia', 'Bhutan', 'Switzerland/UK', None,
       'India/Nepal', 'France/Switzerland', 'Lebanon', 'Kyrgyz Republic',
       'Switzerland/USA', 'Switzerland/France', 'Malta', 'Cyprus',
       'Singapore/Malaysia', 'Jordan', 'Panama', 'Philippines',
       'Germany/S Africa', 'Canada/Macedonia', 'Bahrain', 'Colombia/USA',
       'Nepal/Australia', 'UK/Egypt', 'UK/Australia', 'Egypt/UK',
       'Bangladesh', 'Azerbaijan/Russia', 'Australia/USA',
       'Bosnia-Herzegovina/USA', 'Algeria', 'Oman', 'Saudi Arabia',
       'France/USA', 'Poland/Canada', 'Vietnam', 'Uruguay', 'Montenegro',
       'Australia/New Zealand', 'USA/Jamaica', 'UK/Canada',
       'Spain/Brazil', 'Moldova', 'Germany/USA', 'USA/Brazil',
       'UK/Argentina', 'Australia/Greece', 'USA/Austria', 'USA/Israel',
       'China/Japan', 'Canada/UK', 'Dominican Republic',
       'USA/Dominican Republic', 'Palestine', 'Japan/China', 'Mauritius',
       'UK/Bangladesh', 'UK/S Africa', 'China/USA', 'France/Algeria',
       'Sri Lanka', 'Australia/Ireland', 'UAE', 'New Zealand/UK',
       'Turkey/USA', 'Albania', 'Tanzania', 'Saudi Arabia/USA',
       'Canada/Ireland', 'Romania/USA', 'Lithuania/USA',
       'Ecuador/Germany', 'Turkmenistan', 'Slovakia/USA',
       'Switzerland/Germany', 'Australia/Sweden', 'S Africa/UK', 'Qatar',
       'USA/Ireland', 'Morocco', 'Argentina/Canada', 'Nepal/Canada',
       'Myanmar', 'Australia/UK', 'Denmark/Australia', 'S Africa/Zambia',
       'USA/Russia', 'USA/China', 'UK/Russia', 'UK/Nepal', 'Tunisia',
       'Italy/USA', 'UK/Kenya', 'USA/Iran', 'Kosovo', 'Poland/USA',
       'Hungary/Romania', 'USA/Romania', 'Germany/Switzerland',
       'UK/India', 'Paraguay/Germany', 'USA/Colombia', 'Chile/Sweden',
       'UK/Lebanon', 'Canada/Russia', 'Spain/Venezuela', 'Syria',
       'UK/Iceland', 'Egypt', 'Botswana', 'USA/Ethiopia', 'Serbia/Jordan',
       'Netherlands/Switzerland', 'Italy/Slovenia', 'USA/Pakistan',
       'Mongolia/Australia', 'USA/Germany', 'UK/Iran', 'UK/Jordan',
       'Iraq', 'S Africa/Portugal', 'USA/Lativa', 'S Africa/Ukraine',
       'USA/New Zealand', 'Tajikistan', 'Cuba', 'El Salvador',
       'Canada/Portugal', 'UK/Spain', 'Russia/Ukraine', 'Libya',
       'USA/Cuba', 'USA/India', 'Honduras', 'Malaysi', 'USA/Ukraine',
       'Germany/UK', 'USA/UKraine', 'UK/Sri Lanka', 'UK/Switzerland',
       'Cyprus/Russia', 'Nepal/USA', 'Afghanistan/USA',
       'Ukraine/Azerbaijan', 'USA/Latvia', 'Afghanistan',
       'Norway/Denmark', 'Kyrgyz Republic/Russia', 'USA/Ecuador',
       'France/Luxembourg', 'Australia/S Africa', 'Dominica',
       'Austria/Italy', 'UK/Germany', 'Mali'], dtype=object)

In [14]:
df_member_citizen = df_climbers[['id', 'citizen']].drop_duplicates()
df_member_citizen.loc[:, 'citizen'] = df_member_citizen.citizen.str.split('/')
df_member_citizen = df_member_citizen.explode('citizen').rename({'id': 'climber_id'}, axis=1)

In [15]:
df_member_citizen.head()

   climber_id citizen
0           0  France
1           1  France
2           2  France
3           3  France
4           4  France