In [40]:
import pandas as pd
from utils import *
from mappings import *

In [41]:
df = read_dbf('../data/raw/peaks.DBF')

In [42]:
df.head()

,peakid,pkname,pkname2,location,heightm,heightf,himal,region,open,unlisted,...,peakmemo,pyear,pseason,pexpid,psmtdate,pcountry,psummiters,psmtnote,refermemo,photomemo
0,AMAD,Ama Dablam,Amai Dablang,Khumbu Himal,6814,22356,12,2,True,False,...,"Other map altitudes:\r\n 6814m - HMG-MT, HMG...",1961,1,AMAD61101,Mar 13,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",None,None,W Face (High 126:5 May 1993)\r\nSE Face (High ...
1,AMPG,Amphu Gyabjen,Amphu Gyabien,Khumbu Himal (N of Ama Dablam),5630,18471,12,2,True,False,...,"Other map altitudes:\r\n 5630m - HMG-Finn, N...",1953,1,AMPG53101,Apr 11,UK,"John Hunt, Tom Bourdillon",None,None,None
2,ANN1,Annapurna I,None,Annapurna Himal,8091,26545,1,5,True,False,...,"Other map altitudes:\r\n 8091m - HMG-MT, HMG...",1950,1,ANN150101,Jun 03,France,"Maurice Herzog, Louis Lachenal",None,Dyhrenfurth history 1950-1977 (MM 58:44-47 Nov...,S Face (High 122:3 Jan 1993) (Beghin accident)...
3,ANN2,Annapurna II,None,Annapurna Himal,7937,26040,1,5,True,False,...,"Other map altitudes:\r\n 7937m - HMG-MT, HMG...",1960,1,ANN260101,May 17,"UK, Nepal","Richard Grant, Chris Bonington, Ang Nyima Sherpa",None,Dyhrenfurth history 1960-1976 (MM 51:36-37 Sep...,N Face (MM 51:36 Sep 1976)
4,ANN3,Annapurna III,None,Annapurna Himal,7555,24787,1,5,True,False,...,"Other map altitudes:\r\n 7555m - HMG-MT, HMG...",1961,1,ANN361101,May 06,India,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",None,None,S Side (MM 125:11 Jan 1989)\r\nSW Face (MM 71:...

### Mountains and Regions

In [43]:
df_mountains = pd.DataFrame.from_dict(himal_map, orient='index', columns=['name']).reset_index(names='id')
df_regions = pd.DataFrame.from_dict(region_map, orient='index', columns=['name']).reset_index(names='id')

In [44]:
df_mountains.head()

   id                 name
0   0         Unclassified
1   1            Annapurna
2   2  Api/Byas Risi/Guras
3   3              Damodar
4   4           Dhaulagiri

### Peak Local Names

In [45]:
df.pkname2.unique()

array(['Amai Dablang', 'Amphu Gyabien', None,
       'Annapurna Dakshin, Moditse', 'Morimoto', 'Damodar Himal',
       'Changla Himal', 'Peak 23', 'Chobutse, Tsoboje',
       'Tsolatse, Jobo Lhaptshan', 'Chulu East', 'Chugimago',
       'Cross Peak', 'Everest North Peak', 'Nalu, Naula',
       'Thapa Peak, Marpha Peak', 'Dome Blanc, Kan Karmo', 'Thaknak Ri',
       'Domo, Longridge Peak', 'Sagarmatha, Chomolungma, Qomolungma',
       'Varaha Shikhar, Varaha Chuli, Finger',
       'Phirankoph, Firnkopf East', 'Phirankoph West', 'Yangra Kangri',
       'Salasungo, Kang Lombo, Lopsang Karbo', 'Pabil',
       'Fluted Peak, Ganchempo', 'Gandharbha, Gabelhorn Peak',
       'Jomo Tseringma', 'Gurja West, Paschim Himal',
       'Matatumpa, Ghyuthumba East', 'Gutumpa, Pasang Peak', 'Twins',
       'Tarke Kang, Tarke Khang', 'Gyaji Khang', 'Gyalgen Peak',
       'Himalchuli Main', 'Lidanda Peak, Himalchuli Northeast',
       'Patal Hiunchuli', 'Hunku Chuli, Pyramid Peak',
       'Hangde, Hongde Himal', 'Island Peak', 'Kumbhakarna',
       'Jettiborani, Jutibofurani', 'Jonsong, Jhinsang', 'Sisne Himal',
       'Kambachen', 'Khangchung Nup, Kangcho Nup, Cholo, Abi Peak',
       'Kangja Chuli, Ghanja La Chuli', 'Naurgaon', 'Mehra Peak',
       'Kanjirowa, Kanchen Ruwa', 'Kanjiroba Main',
       'Kokthang, Kothang Kang', 'Kantega, Khangtega, Kang Taiga',
       'Kangchunne, Kanchauni Lekh', 'Kusum Kang, Lamu',
       'Kwangde Ri, Kwangde Lho', 'Langtang',
       'Dorje Pahad, Big White Peak', 'Lhasharma, Pinnacle Peak',
       'Mukot Himal, Langru', 'Longpo', 'Lobuje East', 'Lobuje West',
       'Lhotse II', 'Langsisa Ri', 'Madiya', 'Kangchungtse',
       'Kutang I, Peak 30', 'Manaslu II', '"False" Mera Peak',
       'Chisel Peak', 'Ngozumba Kang, Ngozumba Ri, Tenzing Peak',
       'Bharange', 'Parchermo, Parchemuche, Pachermo',
       'Kande Hiunchuli North', 'Phurbi Ghyachu', 'Pimu', 'Jong Ri',
       'Ngadi Chuli, Dakura, Dr Harka Gurung Chuli', 'Dolma Ri',
       'Puma Dablam', 'Dhaulagiri VII',
       'Pathibhara Chuli, Pathibhara Khas', 'Raksha Urai III',
       'Ramdong Go', 'Khangsar Kang, Khang Sar Khang', 'Kapchuli',
       'Peak 38, Shanti Shikhar', 'Junction Peak', 'Fluted Peak',
       'Hiunchuli Patan', 'Pathibhara Phurba, Pathibhara East', 'Tanga I',
       'Taboche', 'Tent Peak', 'Tramserku', 'Tilitso',
       'Tripura Thumba, Hanging Glacier Peak', 'Tso Karpo Khang',
       'Buddha', 'White Wave Peak', 'Chara Ban Peak, White Peak',
       'Yalungkar', 'Jasemba',
       'Ronglai Kangri, Kaqur Kangri, Kubi Grangri', 'Tang Kongma',
       'Wedge Peak, Chang Himal', 'Chhukung Ri', 'Khang Tokal',
       'Melanphulan, Malangphulang, Hinku Ri', 'Lhotse Intermediate',
       'P2, Simnang Himal East',
       'Hunchhi, Chakung, Gyubanare Kang, Gyuba Tshomotse',
       'Langpo Kangri, Ganesh VI', 'Dzanaye', 'Thyangmoche',
       'Araniko Chuli', 'Selibung', 'Ghenye Lirung, Langtang II',
       '"True" Mera Peak', 'Kyajo Ri', 'Pokhar Khang',
       'Nagpai Gosum I, Cho Aui', 'Putrung', 'Tashi Khang',
       'Agole, Angole', 'Peak 43, Tangnag Tseng', 'Norbu Khang',
       'Bigphera-Go Shar, Pigpferago Shar, Linkhu Chuli I',
       'Bigphera-Go Nup, Pigpferago Nup, Linkhu Chuli II',
       'Paniyo Tapa, Paniyo Tippa', 'Salbachum, Phrul Rangtshan Ri',
       'Bokta', 'Mojka', 'Palung Ri', 'Peak 6, Nephu', 'Amatson',
       'Dragpoche, Dhagpache', 'Nemjung Goth', 'Tsajirip',
       'Janak, Outlier', 'Kabru IV', 'Kabru Central', 'Loshar I',
       'Loshar II', 'Nagpai Gosum II, Chamar', 'Dragker-go',
       'Mansiri Himal', 'Jomsang Himal', 'Kangkuru, Rima Mancho',
       'Khang Nagchugo', 'Kambon', 'Khumjung, Khamjungar', 'Kyungya Ri 1',
       'Kyungya Ri 2', 'Chhib Himal', 'Kubi Kangri, Kubi Dongdong',
       'Pang Phunch 1, Kutang Himal', 'Pang Phunch 2', 'Pholesobi',
       'Phu Khang', 'Langpo Chung', 'Shershon Ri', 'Nampa Chuli',
       'Peak 3', 'Nampa VIII', 'Peak 5, Saldim Ri, Yaphu Ri',
       'Purkhang, Purkung', 'Genjang, Gajang, Jijang', 'Jobo Ribjang',
       'Kang Kuru?', 'Dhaulasiri', 'Kangata', 'Yanme Khang',
       'Danfe Shail', 'Thorung Peak', 'Chharka, Kangtega',
       'Friendship Peak, Nupche Himal', 'Puchen Himal', 'Amphu North',
       'Tabsar', 'Dingjung Ri South', 'Dui Tal Chuli, Two Lakes Peak',
       'Kangfu Gaton', 'Khang Karpo, Kang Karpo', 'Chijima, MDM Peak',
       'Baden Powell Scout Peak, Urgyenma',
       'Lunag I, Rongshar Ri I, Ondrej Peak', 'Dzasampa Kang',
       'Mugu Chuli', 'Thakmarpo Ri', 'Rongshar Ri II', 'Jongsang SE Peak',
       'Peak Hawley', 'Jobo LeCoultre', 'Manshail',
       'Thakar Go East, Dragker-go East', 'Omi Tso Go', 'Chomo Pamari',
       'Kambachen East', 'Khangsar Khang West', 'Lachenal Peak, Asapurna',
       'Shringi Himal', 'Nepal Gyap Peak', 'Gauri', 'Burke Khang',
       'Yangra South, Ganesh I South', 'Nupla Khang',
       'Phu Khang Go, Athahra Saya Khola Himal', 'Gurans', 'Tharke Khang',
       'Rolwaling Khang', 'Jugal', 'Pangri Goldumba',
       'Khangchung, Kangcho Shar, UIAA Peak', 'Phu Khang North',
       'Mayun Thang Khang', 'Lajo Dada', 'Tseringma', 'Ripumutse',
       'Takla Khang', 'Kogi Kang North', 'Yala Chuli', 'Bedding Go',
       'Rifil Peak', 'Aychin, Ashvin', 'Chyoro Ri',
       'Chota Ri, Baruntse North', 'Hongku Chuli Nup, Honku, Sura Peak',
       'Kesang Khang', 'UAAA Peak', 'Gyaltsen Peak',
       'Lung Sampa, Lumsumna', 'Pashubo', 'Sato Peak', 'Tanga II',
       'Marson', 'Tanga III', 'Manshail South', 'Hillary Peak',
       'Kinshung, Tsangbu Ri', 'Chaar Baatsa', 'Peak 5', 'Yubra Himal',
       'Granite Peak, Naike Peak', 'Nuptse Nup II',
       'Agole East, Angole East', 'Tare Kang', 'Korlang Pari Tippa North',
       'Khumbhakarna East', 'Jugal Himal',
       'Tengi Ragi Tau South, Pahamlahaka, Pomlaca', 'Kuirhun, Kembalung',
       'Rolwaling Khang Shar', 'Pathibhara East'], dtype=object)

In [46]:
df_local_names = df[['peakid', 'pkname2']].dropna()
df_local_names['name'] = df_local_names.pkname2.str.split(',')
df_local_names = df_local_names.drop('pkname2', axis=1).explode('name')

In [47]:
df.drop('pkname2', axis=1, inplace=True)

In [48]:
df.head()

,peakid,pkname,location,heightm,heightf,himal,region,open,unlisted,trekking,...,peakmemo,pyear,pseason,pexpid,psmtdate,pcountry,psummiters,psmtnote,refermemo,photomemo
0,AMAD,Ama Dablam,Khumbu Himal,6814,22356,12,2,True,False,False,...,"Other map altitudes:\r\n 6814m - HMG-MT, HMG...",1961,1,AMAD61101,Mar 13,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",None,None,W Face (High 126:5 May 1993)\r\nSE Face (High ...
1,AMPG,Amphu Gyabjen,Khumbu Himal (N of Ama Dablam),5630,18471,12,2,True,False,False,...,"Other map altitudes:\r\n 5630m - HMG-Finn, N...",1953,1,AMPG53101,Apr 11,UK,"John Hunt, Tom Bourdillon",None,None,None
2,ANN1,Annapurna I,Annapurna Himal,8091,26545,1,5,True,False,False,...,"Other map altitudes:\r\n 8091m - HMG-MT, HMG...",1950,1,ANN150101,Jun 03,France,"Maurice Herzog, Louis Lachenal",None,Dyhrenfurth history 1950-1977 (MM 58:44-47 Nov...,S Face (High 122:3 Jan 1993) (Beghin accident)...
3,ANN2,Annapurna II,Annapurna Himal,7937,26040,1,5,True,False,False,...,"Other map altitudes:\r\n 7937m - HMG-MT, HMG...",1960,1,ANN260101,May 17,"UK, Nepal","Richard Grant, Chris Bonington, Ang Nyima Sherpa",None,Dyhrenfurth history 1960-1976 (MM 51:36-37 Sep...,N Face (MM 51:36 Sep 1976)
4,ANN3,Annapurna III,Annapurna Himal,7555,24787,1,5,True,False,False,...,"Other map altitudes:\r\n 7555m - HMG-MT, HMG...",1961,1,ANN361101,May 06,India,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",None,None,S Side (MM 125:11 Jan 1989)\r\nSW Face (MM 71:...

### Peak Location

In [49]:
# create location id-to-name mapping
df_locations = df[['location']].drop_duplicates(ignore_index=True).reset_index(names='id').rename({'location': 'name'}, axis=1)

In [50]:
df_locations.head()

   id                                         name
0   0                                 Khumbu Himal
1   1               Khumbu Himal (N of Ama Dablam)
2   2                              Annapurna Himal
3   3         Annapurna Himal (ENE of Annapurna I)
4   4  Annapurna Himal (S of Annapurna I and Fang)

In [51]:
# replace location names with ids
df = df.merge(df_locations, left_on='location', right_on='name', how='left')\
	.drop(['location', 'name'], axis=1)\
	.rename({'id': 'location_id'}, axis=1)

In [52]:
df.head()

,peakid,pkname,heightm,heightf,himal,region,open,unlisted,trekking,trekyear,...,pyear,pseason,pexpid,psmtdate,pcountry,psummiters,psmtnote,refermemo,photomemo,location_id
0,AMAD,Ama Dablam,6814,22356,12,2,True,False,False,None,...,1961,1,AMAD61101,Mar 13,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",None,None,W Face (High 126:5 May 1993)\r\nSE Face (High ...,0
1,AMPG,Amphu Gyabjen,5630,18471,12,2,True,False,False,None,...,1953,1,AMPG53101,Apr 11,UK,"John Hunt, Tom Bourdillon",None,None,None,1
2,ANN1,Annapurna I,8091,26545,1,5,True,False,False,None,...,1950,1,ANN150101,Jun 03,France,"Maurice Herzog, Louis Lachenal",None,Dyhrenfurth history 1950-1977 (MM 58:44-47 Nov...,S Face (High 122:3 Jan 1993) (Beghin accident)...,2
3,ANN2,Annapurna II,7937,26040,1,5,True,False,False,None,...,1960,1,ANN260101,May 17,"UK, Nepal","Richard Grant, Chris Bonington, Ang Nyima Sherpa",None,Dyhrenfurth history 1960-1976 (MM 51:36-37 Sep...,N Face (MM 51:36 Sep 1976),2
4,ANN3,Annapurna III,7555,24787,1,5,True,False,False,None,...,1961,1,ANN361101,May 06,India,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",None,None,S Side (MM 125:11 Jan 1989)\r\nSW Face (MM 71:...,2

### Peak Host

In [53]:
df['host'] = apply_map(df.phost, host_map).str.split(";")

In [54]:
df_peak_hosts = df[['peakid', 'host']].explode('host')
df_peak_hosts = update_country_list(df_peak_hosts, 'host')

In [55]:
df.drop(['phost', 'host'], axis=1, inplace=True)

In [58]:
df.head()

,peakid,pkname,heightm,heightf,himal,region,open,unlisted,trekking,trekyear,...,pyear,pseason,pexpid,psmtdate,pcountry,psummiters,psmtnote,refermemo,photomemo,location_id
0,AMAD,Ama Dablam,6814,22356,12,2,True,False,False,None,...,1961,1,AMAD61101,Mar 13,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",None,None,W Face (High 126:5 May 1993)\r\nSE Face (High ...,0
1,AMPG,Amphu Gyabjen,5630,18471,12,2,True,False,False,None,...,1953,1,AMPG53101,Apr 11,UK,"John Hunt, Tom Bourdillon",None,None,None,1
2,ANN1,Annapurna I,8091,26545,1,5,True,False,False,None,...,1950,1,ANN150101,Jun 03,France,"Maurice Herzog, Louis Lachenal",None,Dyhrenfurth history 1950-1977 (MM 58:44-47 Nov...,S Face (High 122:3 Jan 1993) (Beghin accident)...,2
3,ANN2,Annapurna II,7937,26040,1,5,True,False,False,None,...,1960,1,ANN260101,May 17,"UK, Nepal","Richard Grant, Chris Bonington, Ang Nyima Sherpa",None,Dyhrenfurth history 1960-1976 (MM 51:36-37 Sep...,N Face (MM 51:36 Sep 1976),2
4,ANN3,Annapurna III,7555,24787,1,5,True,False,False,None,...,1961,1,ANN361101,May 06,India,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",None,None,S Side (MM 125:11 Jan 1989)\r\nSW Face (MM 71:...,2